/bin
/tools
/config/config-bot.yaml
/config/config-http-manager.yaml
/config/config-msgconsumer.yaml
/config/config-outbox-poller.yaml
/cmd/adminpanel/.env
__pycache__
/script/k8s/minikube/bot-cm.yaml
/script/k8s/minikube/outboxpoller-cm.yaml
