apiVersion: v1
kind: Service
metadata:
  name: jaeger-service
spec:
  type: LoadBalancer
  ports:
    - port: 14268
      targetPort: 14268
    - port: 16686
      targetPort: 16686
  selector:
    app: jaeger