apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      containers:
      - name: postgres
        image: postgres:16.3-alpine3.20
        ports:
        - containerPort: 5432
        env:
        - name: POSTGRES_DB
          value: bot
        - name: POSTGRES_USER
          value: bot
        - name: POSTGRES_PASSWORD
          value: bot
